body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.content__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F3F4F7;
}

.content__nav h1 {
  margin-left: 50px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: #2B018E;
}

.content__nav--links {
  margin-left: 200px;
}

.content__nav--links a {
  margin-right: 10px;
  text-decoration: none;
  color: #2B018E;
}

.content__nav--links a:hover {
  text-decoration: underline;
}

.content__nav--links .content__nav--home {
  color: #DC2F02;
}

.content__nav--img {
  margin-right: 80px;
}

.content__nav--img img {
  width: 40px;
  margin-right: 10px;
}

.content__main {
  display: flex;
  padding: 70px;
  align-items: center;
}

.content__main--texts h2 {
  color: #2B018E;
  font-size: 70px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
}

.content__main--texts h2 span {
  color: #DC2F02;
}

.content__main--texts p {
  font-size: 12px;
  color: #A9B0C6;
}

.content__main--img img {
  width: 600px;
}

.content__main--btn {
  margin-top: 30px;
}

.content__main--btn a {
  margin-top: 30px;
  text-decoration: none;
  padding: 13px;
  border-radius: 10px;
  color: #F3F4F7;
  font-size: 13px;
}

.content__main--btn .btn-one {
  background-color: #DC2F02;
}

.content__main--btn .btn-two {
  background-color: #2B018E;
}

.content__publicity {
  text-align: center;
  background-color: #F3F4F7;
  padding: 60px;
}

.content__publicity--processing {
  text-align: left;
  display: flex;
  align-items: center;
}

.content__publicity--processing img {
  width: 30px;
}

.content__publicity--processing span {
  font-size: 10px;
  margin-left: 10px;
}

.content__publicity--text h2 {
  color: #2B018E;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}

.content__publicity--text h2 span {
  color: #DC2F02;
}

.content__publicity--text p {
  font-size: 13px;
  color: #A9B0C6;
}

.content__publicity--img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.content__publicity--img p {
  color: #2B018E;
  font-family: "Poppins", sans-serif;
}

.content__ideology {
  display: flex;
  padding: 80px;
}

.content__ideology img {
  width: 600px;
}

.content__ideology--texts h2 {
  color: #2B018E;
  font-size: 50px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
}

.content__ideology--texts h2 span {
  color: #DC2F02;
}

.content__ideology--texts p {
  font-size: 12px;
  color: #A9B0C6;
}

.content__information {
  padding: 80px;
  display: flex;
  background-color: #F3F4F7;
}

.content__information--info h3 {
  color: #2B018E;
  font-family: "Poppins", sans-serif;
}

.content__information p {
  font-size: 13px;
  color: #A9B0C6;
}

.content__information--info a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #A9B0C6;
}

.content__information--info a:hover {
  text-decoration: underline;
}

.content__information span {
  font-size: 13px;
  color: #A9B0C6;
}

.content__information--info img {
  width: 30px;
}